body {
  background:#0f2027;
  color:white;
  font-family: Arial;
}
.app {
  background:#203a43;
  width:350px;
  margin:80px auto;
  padding:20px;
  border-radius:10px;
}
input, button {
  padding:6px;
  margin:5px 0;
}
li {
  display:flex;
  justify-content:space-between;
}
